<!-- Footer -->
<footer style="" class=" fixed-bottom bg-dark" >

    <div class="container-fluid">
        <div style="margin-top: 1%">
            <a class="navbar-brand " style="font-size: 170%; color: lightgray" href="/objet/celeste">Objets Célestes</a>
            <a class="navbar-brand" style="font-size: 170%; color: lightgray" href="/constellation">Constellations</a>
            <a class="navbar-brand " style="font-size: 170%; color: lightgray" href="/messier/catalogue">Catalogue de Messier</a>
        </div>
    </div>
</footer>


