<nav class="navbar fixed-top navbar-dark bg-dark">
    <div class="container-fluid">
        <div>
            <a class="navbar-brand" style="font-size: 100%" href="/">Accueil</a>
            <a class="navbar-brand" style="font-size: 100%" href="/about">à propos</a>
        </div>

        <div>
            <a class="navbar-brand" style="font-size: 200%" href="/"> AstroMiage</a>
        </div>
    </div>
</nav>

