{% extends 'base.html.twig' %}

{% block title %} AstroMiage {% endblock %}

{% block body %}

    <body style="background-color: #5D94BA">

        <div style="margin: 0 auto; width: 30%; margin-top: 5%">
            <h1 style="font-size: 400%"> AstroMiage</h1>
        </div>


        <div style="margin: 0 auto; margin-top: 10%">

            <h3 style="margin-bottom: 1%"> Equipe : </h3>
            <p>
                DIALLO Amadou<br>
                LEITE TEIXEIRA Jonathan<br>
                AMAREH Ali Houssein<br>
                FROLIGER Robin
            </p>


            <h3 style="margin-bottom: 2%; margin-top: 4%">Le Projet :</h3>

            <p>
                Le Projet <b>AstroMiage</b>  entre dans le cadre de la <b>Licence 3 Miage de l’université d’Orléans</b> .<br> Ce projet va permettre aux utilisateurs d’explorer les différentes constellations pouvant être observées dans notre ciel nocturne. L’utilisateur peut voir une carte du ciel sur laquelle sont portés les différents objets célestes. L’utilisateur peut également obtenir des informations sur différents objets célestes tels que : les étoiles, nébuleuses, galaxies qui composent les constellations.
            </p>

        </div>
    </body>
{% endblock %}

