{% extends 'base.html.twig' %}

{% block title %}Edit ObjetCeleste{% endblock %}

{% block body %}
    <h1>Edit ObjetCeleste</h1>

    {{ include('objet_celeste/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_objet_celeste_index') }}">back to list</a>

    {{ include('objet_celeste/_delete_form.html.twig') }}
{% endblock %}
